*{
	margin: 0;
/*	padding: 0;*/
	box-sizing: border-box;
  /*outline: none;*/
  text-decoration: none;
	
	
	/*font-family: 'Anton', sans-serif;*/
}
h1.title{
	margin-bottom: 20px;
	color: #444444;
	/*font-family: 'Allura', cursive;*/
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}
.about p{
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 20px;
    color:black;
    font-family: 'Courgette', cursive;
}
.contact-me p{
  margin-bottom: 15px;
	font-size: 24px;
	line-height: 20px;
    color:black;
    font-family: 'Courgette', cursive;
}

.design svg{
    display:block;
}
.navbar{
	width: 100%;
    height: 65px;
    /*background-color: powderblue;*/
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo a{
    font-family: 'Lobster', cursive;
	/*font-family: 'Allura', cursive;*/
	font-size: 32px;
	color: #fb2274;
  
}

.navbar_items ul{
  display: flex;
  list-style: none;
  
  
}

.navbar_items ul li{
	margin: 0 10px;
}

.navbar_items ul li a{
	text-transform: uppercase;
    color:#0f2596;
    font-size:20px;
  /*font-family: 'Allura', cursive;*/
  font-family: 'Lobster', cursive;
  
}
.navbar_items li a:hover {
  
  background-color:  #fcdada;

}
.banner_image{
	background-color:white;
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.code-image {
    width: 55%;
    float: right;
    margin-right:100px;
}
.banner_content{
	text-align: left;
	color: black;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 50px;
	margin-bottom: 30px;
}

.banner_content h1 span{
    color: #794c74;
    font-family: 'Patrick Hand', cursive;
}
.about{
	text-align: center;
    padding: 5% 10%;
    font-family: 'Patrick Hand', cursive;
}
    
    

.button {
    border-radius: 4px;
    background-color: #fca652;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.contact-me {
      width: 40%;
      text-align:center;
      margin: 40px auto 60px;
  
}



  
.buttomwave{
  margin-top:-200px;
}


.butn {
  
  background: linear-gradient(-90deg,#fcdada,#edc988);
/* Green */
	border: none;
	color: black;
	padding: 15px 32px;
	font-family: 'Acme', sans-serif;
	margin:20px;
	text-decoration: none;
	display: inline-block;
	
	font-weight: 900;
	/*text-shadow: 3px 0 #DBEDF3;*/
  width:250px;
  height:250px;
    border-radius: 20%;
  }
.homepage{
  margin-top:20px;
  text-align:center;

}

@media (max-width: 720px){
    
	.navbar{
		height: auto;
		flex-direction: column;
    }
  .image{
        width: 100%;
        height: auto;
  }
  


	.logo{
		margin-bottom: 25px;
  }
  

	.navbar_items ul{
		flex-direction: column;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
  }

}
@media (max-width: 1000px){
  .mock{
    
    width: 100%;
    height: 100%;

    
  }
  .interview{
    width:100%;
    height:100%;
  }
  .resume{
    width: 100%;
    height: 100vh
  }
  .resumehead{
font-size:3vw;
  }
  .inthead{
    font-size:3vw;
  }
  

}
.resume{
        background-image: url('https://images.squarespace-cdn.com/content/v1/5a7323a3e5dd5b8d817e8f17/1553877284212-CZP9VOBAUZ709G5JC7D7/ke17ZwdGBToddI8pDm48kAEJrbsFhWLqsgpoQx73qC1Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyf-i7HqzWRj6Qnixywj4DB-I0eAIFeuR6DviqjBRr8uBbu3jqDLNXNrXP7XxnmM3k/eyeem-106156653.jpg?format=2500w');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size:100% 100%;
        height: 1500px;
        font-size: 20px;
        padding :10px;
      
        
     
    
}
.resume ul{
  color: #900d0d;
  font-family: 'Sriracha', cursive;
}
h3.resume{
  font-family: 'Anton', sans-serif;
 
}
.resumehead{
    background-color:#8675a9;
    width:auto;
    height: 50px;
    text-align: center;

    
}
h3{
  font-family: 'Concert One', cursive;
 
}

.mock{
  background-image:url("https://img.freepik.com/free-photo/test-score-sheet-with-answers_93675-5220.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size:100% 100%;
  height: 1000px;;
  padding: 10px;
}
.mockhead{
background-color:#f6c90e;
height:60px;
text-align: center;
font-size: 20px;

}
.mock ul{
font-size: 40px;
}


.aptitude p{
  font-family: 'Philosopher', sans-serif;
  color:#621055;
}


.aptitude ul{
  font-family: 'Courgette', cursive;
  color:green;
  font-size: 20px;
}

.aptitude{
  background-image: url("https://wallpaperset.com/w/full/7/5/a/545589.jpg");
  padding: 10px;
}
.aptitudehead{
  background-color:#4cd3c2;
  height:60px;
  text-align: center;
  font-size: 20px;
  
}
.mcq,ques{
  
    border-color: #2196F3;
    color: dodgerblue;
  
} 
.mcq:hover {
    background: #2196F3;
    color: white;
}
.ques:hover {
  background: #2196F3;
  color:white;
}
  
.mcq {
  border: 2px solid black;
  background-color:powderblue;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 30px;
}
.ques {
  border: 2px solid black;
  background-color: powderblue;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.coding{
  text-align: center;
  
  background-image:url(https://image.freepik.com/free-photo/pastel-colour-feather-abstract-background_66899-1264.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size:100% 100%;
  height: 1000px;;
  padding: 10px;
}


.codinghead{
  font-size: 30px;
   margin-top: 100px;;

  
}

.coding ul{
  color: midnightblue
}
.codingques{
  background-color: #fca652;
  height:50px;
  text-align: center;
  font-size: 20px;
}
.codingques ul{
  font-family: 'Courgette', cursive;
  color:#c70d3a;
  font-size: 30px;
}
.codingques p,a{
  font-family: 'Philosopher', sans-serif;
  color:#621055;
  font-size: 30px;
}
.mcqhead{
  background-color:#FFA5A5;
  width: 100%;
  height: 50px;;

}
.codingmcq {
  background-color:#FCDADA ;
  height:1000px;
  text-align: center;
  font-size: 20px;
}
.codingmcq p{
  font-family: 'Philosopher', sans-serif;
  color:#681313;
  font-size: 10px;
}
.codingmcq ul{
  font-family: 'Courgette', cursive;
  color:#90007f;
  font-size: 30px;
}
.interview{
  background-color:#D2F6C5;
  background-size:100% 100%;
  height: 5000px;;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
.interview p{
  font-family: 'Philosopher', sans-serif;
  color:#681313;
}
.inthead{
  background-color:#28DF99;
  width: 100%;
  height: 50px;;
}